:root {
    --platinum: #dfdfdf;
    --spacing-lrg: 24px;
    --russian-violet: #472B5F;
    --rich-black: #070618;
    --lion: #B68857;
    --silver: #F2E4DF;
    --pale-dogwood: #D5B9B0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

h1 {
    /* line-height: 1; */
    display: inline-block;
}

.title-wrapper {
    width: 80%; /* adjust this value based on your design preference */
    display: flex;
    justify-content: start; /* this aligns the title to the left */
    height: auto;
}

.title {
    font-size: 10rem;
    color: var(--platinum);
    text-shadow: 4px 4px 10px black;
    user-select: none;
    transition: 0.14s ease-out all;
}

.title:hover {
    letter-spacing: 8px;
    color: var(--pale-dogwood);
}

body {
    background-color: var(--rich-black);
    width: 100%;
    color: var(--platinum)
}

::-webkit-scrollbar {
    width: 6px; /* Vertical scrollbar width */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the draggable scroll handle */
    border-radius: 6px; /* Radius of the draggable scroll handle */
}


.main {
    height: 100vh;
    padding: 4rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.background-container {
    background-image: url("background.png");
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 400px 0 0 400px;
}

.sidebar,
.books-grid {
    padding: 4rem;
    box-sizing: border-box;
    height: 100%;
}

.sidebar {
    border: 2px solid var(--russian-violet);
    width: 20vw;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    align-items: center;
}

.add-book-title {
    font-size: 4rem;
    transition: 0.14s ease-out all;
    text-shadow: 4px 4px 10px black;
    user-select: none;
}

.add-book-title:hover {
    letter-spacing: 2px;
    color: var(--pale-dogwood);
}

.add-book-form {
    flex-direction: column;
    display: flex;
    row-gap: 2rem;
    width: 100%;
}

.add-book-form input {
    outline: none;
    min-width: 100%;
    box-sizing: border-box;

    height: 3.6rem;
    font-size: 2rem;
    box-shadow: none;
    border-radius: 4px;
    background-color: var(--russian-violet);
    color: var(--lion);
    padding: .4rem;
    transition: all 0.4s ease-out;

    border: 2.6px solid transparent;
    box-shadow: 0 0 0 1px var(--lion);

    caret-color: var(--silver);
}

.add-book-form input:focus {
    border: 2.6px solid var(--silver);
    box-shadow: 0 0 0 1px transparent;
}

.add-book-form input::placeholder {
    color: var(--lion);
    opacity: .3;
}

.add-book-form input.invalid {
    border: 2.6px solid red;
    box-shadow: 0 0 0 1px red;
}

.add-book-button {
    min-height: 4rem;
    max-height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    font-size: 2rem;
    border: transparent;
    transition: 0.14s ease-out all;
    user-select: none;
    background-color: var(--russian-violet);
    color: var(--platinum);
    cursor: pointer;
    box-shadow: 4px 4px 10px black;
}


.books-grid {
    border: 2px solid var(--russian-violet);
    width: 80vw;
}

.begin-btn {
    min-height: 6rem;
    max-height: 6rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    font-size: 2rem;
    border: transparent;
    transition: 0.14s ease-out all;
    user-select: none;
    background-color: var(--russian-violet);
    color: var(--platinum);
    cursor: pointer;
    box-shadow: 4px 4px 10px black;
}


button:hover {
    transform: scale(1.06);
}

button:active {
    transform: scale(1);
    filter: brightness(70%);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--platinum);
    height: 4rem;
    font-size: 1.4rem;
    gap: 8px;
}


.fa-github-square {
    transition: transform 0.3s ease-in-out;
    color: var(--lion);
    font-size: 2rem;
}
.fa-github-square:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
    color: var(--platinum)
}